{% extends "layout.html" %} {% block content %}
<main
  class="container h-[calc(100vh-64px)] text-center flex flex-col items-center justify-center"
>
  <div class="text-xl capitalize font-semibold mb-3">
    <h1>Create Document</h1>
  </div>
  <form action="/documents/create" method="post" class="w-1/2 relative">
    <input
      type="text"
      id="text"
      name="text"
      placeholder="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, ratione?"
      class="border border-slate-400 px-4 py-2 bg-white focus:ring-1 focus:border-none focus:ring-blue-200 rounded-md w-full"
    />
    <button
      class="absolute right-0 top-0 -translate-x-[100%] translate-y-[35%]"
    >
      <i class="fa-regular fa-paper-plane"></i>
    </button>
  </form>
</main>
{% endblock %}
